/* GRID LAYOUT */

/* .garage-grid {
	display: flex;
	padding: 20px;
    position: relative;
    z-index: 5;
    padding-top: 6rem;
    justify-content: center;
} */

.garage-grid {
	display: grid;
	/* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
	gap: 2rem;
	padding: 4rem;
	padding-top: 6rem;
	position: relative;
	z-index: 5;
}


/* Desktop – 3 колони */
@media (min-width: 1280px) {
  .garage-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet – 2 колони */
@media (min-width: 800px) and (max-width: 1279px) {
  .garage-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Phone – 1 колона */
@media (max-width: 799px) {
  .garage-grid {
    grid-template-columns: 1fr;
  }
}