@import "tailwindcss";

:root, :root.light{ 
    --text_main: #f5f5f5;

    --blue_main: #0056b3;
    --backgr_forms: rgba(255, 255, 255, 0.03);
    --gradient_btn: linear-gradient(135deg, #7fb4ff, #4f7cff);
}