@import "tailwindcss";

:root, :root.light{ 
    --text_main: #f5f5f5;

    --blue_main: #0056b3;
    --backgr_forms: rgba(255, 255, 255, 0.03);
    --border_main: rgba(255, 255, 255, 0.08);
    --gradient_btn: linear-gradient(135deg, #7fb4ff, #4f7cff);
    --white_18pers: rgba(255, 255, 255, 0.18);
    --white_25pers: rgba(255, 255, 255, 0.25);
    --gray: #ccc;
}

@theme {
    --color-white: var(--text_main);
    --bg-btn: var(--gradient_btn);
    --color-gray: var(--gray);
}