/* CARD */
.garage-card {
	background: var(--backgr_forms);
	color: var(--text_main);
	overflow: hidden;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
	transition: transform 0.2s ease;
	border-radius: 10px;
	box-shadow: 0 18px 45px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(12px);
}

.garage-card:hover {
	transform: translateY(-5px);
}

/* COVER IMAGE */
.garage-cover {
	width: 100%;
	/* max-height: 40vh; */
	aspect-ratio: 16 / 9;
	/* object-fit: cover;
	object-position: center; */
	display: block;
}

/* CONTENT */
.garage-content {
	padding: 16px;
}

/* USER SECTION */
.garage-user {
	display: flex;
	align-items: center;
	gap: 12px;
}

.garage-avatar {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	object-fit: cover;
}

.garage-username {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
}

.garage-count {
	margin: 0;
	font-size: 14px;
}

/* LAST CAR */
.garage-last {
	margin: 14px 0;
	font-size: 14px;
}

/* BUTTON */
.garage-btn-group {
	display: flex;
    gap: 2rem;
    justify-content: center;
}

.garage-btn {
	width: 35%;
	padding: 10px 0;
	background: var(--gradient_btn);
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 15px;
	cursor: pointer;
	transition: background 0.2s ease;
	text-align: center;
}

.garage-btn:hover {
  filter: brightness(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
  transform: translateY(-1px);
}

.garage-btn:active {
  transform: translateY(0);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
}