.container {
    max-width: 1200px;
    margin: auto;
    padding: 6rem;
    position: relative;
    z-index: 5;
}

/* PROFILE SECTION */
.profileCard {
    display: flex;
    align-items: center;
    background: var(--backgr_forms);
    color: var(--text_main);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 35px;
    gap: 20px;
}

.avatar {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
}

.profileInfo h2 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.profileInfo p {
    margin: 3px 0 0;
}


/* CARS GRID */
.carsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 25px;
}

.carCard {
    background: var(--backgr_forms);
    color: var(--text_main);
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform .2s;
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(12px);
}

.carCard:hover {
    transform: translateY(-4px);
}

.carImage {
    width: 100%;
    object-fit: cover;
}

.carInfo {
    padding: 20px;
}

.carInfo h3 {
    margin: 0 0 10px 0;
    font-size: 1.3rem;
}

.specList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.specList li {
    margin-bottom: 5px;
}

/* ------------------------------------------------------
   RESPONSIVE DESIGN
------------------------------------------------------ */

/* Tablets */
@media (max-width: 900px) {
    .container {
        padding: 6rem 1rem;
	}

    .profileCard {
        padding: 20px;
    }

    .avatar {
        width: 80px;
        height: 80px;
    }

    .profileInfo h2 {
        font-size: 1.5rem;
    }

    .carsGrid {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 20px;
    }
}

/* Mobile phones */
@media (max-width: 699px) {

    .profileCard {
        flex-direction: column;
        text-align: center;
    }

    .avatar {
        width: 90px;
        height: 90px;
    }

    .profileInfo h2 {
        font-size: 1.4rem;
    }

    .carsGrid {
        grid-template-columns: 1fr; /* Always 1 column on phone */
        gap: 20px;
    }    
}

/* Small phones (very small, iPhone SE) */
@media (max-width: 400px) {
    .profileCard {
        padding: 15px;
    }

    .carInfo h3 {
        font-size: 1.1rem;
    }
} 