.container {
    max-width: 1200px;
    margin: auto;
    padding: 6rem;
    position: relative;
    z-index: 5;
}

/* PROFILE SECTION */
.profile-card {
    display: flex;
    align-items: center;
    background: var(--backgr_forms);
    color: var(--text_main);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 35px;
    gap: 20px;
}

.avatar {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info h2 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.profile-info p {
    margin: 3px 0 0;
}

.edit-profile-btn {
    padding: 6px 14px;
    font-size: 0.9rem;
    font-weight: 500;
    background: var(--border_main);
    border: 1px solid var(--backgr_forms);
    border-radius: 8px;
    backdrop-filter: blur(6px);
    cursor: pointer;
    transition: 0.25s ease;
}

.edit-profile-btn:hover {
    background: var(--white_18pers);
    border-color: var(--white_25pers);
    transform: translateY(-1px);
}

.edit-profile-btn:active {
    transform: translateY(0px) scale(0.98);
    background: var(--white_25pers);
}



/* CARS GRID */
.cars-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 25px;
}

.car-card {
    background: var(--backgr_forms);
    color: var(--text_main);
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform .2s;
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(12px);
}

.car-card:hover {
    transform: translateY(-4px);
}

.car-image {
    width: 100%;
    object-fit: cover;
}

.car-info {
    padding: 20px;
}

.car-info h3 {
    margin: 0 0 10px 0;
    font-size: 1.3rem;
}

.spec-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.spec-list li {
    margin-bottom: 5px;
}

/* ------------------------------------------------------
   RESPONSIVE DESIGN
------------------------------------------------------ */

/* Tablets */
@media (max-width: 900px) {
    .container {
        padding: 6rem 1rem;
	}

    .profile-card {
        padding: 20px;
    }

    .avatar {
        width: 80px;
        height: 80px;
    }

    .profile-info h2 {
        font-size: 1.5rem;
    }

    .cars-grid {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 20px;
    }
}

/* Mobile phones */
@media (max-width: 699px) {

    .profile-card {
        flex-direction: column;
        text-align: center;
    }

    .avatar {
        width: 90px;
        height: 90px;
    }

    .profile-info h2 {
        font-size: 1.4rem;
    }

    .cars-grid {
        grid-template-columns: 1fr; /* Always 1 column on phone */
        gap: 20px;
    }    
}

/* Small phones (very small, iPhone SE) */
@media (max-width: 400px) {
    .profile-card {
        padding: 15px;
    }

    .car-info h3 {
        font-size: 1.1rem;
    }
} 