.modal {
	position: fixed;
	inset: 0;
	z-index: 15;
	position: fixed;
	backdrop-filter: blur(10px);
	z-index: 99;
	background: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 250px;
}

.loader {
    position: absolute;
    z-index: 100;
}

.half-circle-spinner,
.half-circle-spinner * {
    box-sizing: border-box;
}

.half-circle-spinner {
    width: 5em;
    height: 5em;
    border-radius: 100%;
    position: relative;
}

.half-circle-spinner .loader-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    border-radius: 100%;
    border: calc(4em / 10) solid transparent;
}

.half-circle-spinner .loader-circle.circle-1 {
    border-top-color: var(--blue_main);
    animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .loader-circle.circle-2 {
    border-bottom-color: var(--blue_main);
    animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}